<div id="comments">
  <div class="post-container">
    <div class="comment">抱歉，评论已关闭。</div>
  </div>
  <div class="message">欲参与讨论，请寄 <a href="mailto:gaoryrt@gmail.com">gaoryrt@gmail.com</a></div>
  <hr />
</div>
