<div id="comments">

  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function() {
      this.page.url = location.href;
      this.page.identifier = document.location.host + document.location.pathname;
    };
    (function() {
      var d = document,
        s = d.createElement('script');
      s.src = 'https://gaoryrt.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>

  <hr />
</div>
