table {
  border-spacing: 0;
}

figure {
  margin: 0;
  overflow-x: auto;
  td.gutter {
    flex-shrink: 0;
    flex-grow: 0;
    text-align: right;
    padding: 0 1em 0 0;
    color: var(--color-dimtext);
  }
  td.code {
    padding: 0;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

code,
pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
  font-size: 14px;
  line-height: 2em;
  margin: 0;
  border: 0;
  tab-size: 2;
  background: transparent;
  background-size: auto 4em;
  background-origin: content-box;
  background-image: linear-gradient(var(--color-bg1) 50%, var(--color-bg2) 0);
  overflow-x: auto;
  .comment {
    color: var(--color-dimtext);
  }
  .line {
    height: 30px;
  }
}

code {
  word-wrap: break-word;
  line-height: 2em;
  font-size: 0.97em;
}

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo,
pre .keyword,
pre .javascript .function {
  color: var(--color-highlight);
}

pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: var(--color-highlight);
}

pre .css .rules .attribute,
pre .css .hexcolor {
  color: var(--color-theme);
}

pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: var(--color-theme);
}

pre .ruby .class .title,
pre .title,
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: inherit;
}
