.posts > li:nth-child(odd) > .index-meta {
  .categories a,
  .categories svg {
    color: #005a00;
  }
  time {
    color: #be2828;
  }
}

.posts > li:nth-child(even) > .index-meta {
  .categories a,
  .categories svg {
    color: #be2828;
  }
  time {
    color: #005a00;
  }
}

.archive-item:nth-child(odd) .archive-time {
  color: #be2828;
}

.archive-item:nth-child(even) .archive-time {
  color: #005a00;
}

.page-number:nth-child(odd) {
  color: #be2828;
}

.page-number:nth-child(even) {
  color: #005a00;
}

.dropdown-content > div:nth-child(odd) > a {
  color: #005a00;
}

.dropdown-content > div:nth-child(even) > a {
  color: #be2828;
}

.index-title {
  font-size: 34px;
  line-height: 1.5;
}

.excerpt,
.excerpt p,
.echo {
  font-size: 18px;
  line-height: 1.95em;
  letter-spacing: 0.6px;
  color: var(--color-dimtext);
}
.excerpt p {
  margin: 0;
  padding: 0;
}

.index-meta {
  padding-top: 1em;
  padding-bottom: 60px;
}

.alt {
  font-size: 14px;
  text-align: center;
  padding-bottom: 2em;
}

@media screen and (max-width: 782px) {
  .excerpt,
  .excerpt p,
  .echo {
    font-size: 16px;
    line-height: 1.9em;
  }
}
