.toc {
  position: fixed;
  top: 50%;
  left: calc(50% - 391px);
  text-align: right;
  transform: translate(-100%, -50%);
  padding: 1em 0;
  padding-right: 2em;
  overflow: auto;
  max-height: 100%;
}

.toc-text {
  transition: color 0.3s;
}

.toc-level-1 .toc-text,
.toc-level-2 .toc-text {
  font-weight: 400;
}

.toc-level-3 .toc-text,
.toc-level-4 .toc-text,
.toc-level-5 .toc-text,
.toc-level-6 .toc-text {
  font-weight: 300;
}

.toc:hover .toc-text {
}

.toc ol,
ul {
  padding-right: 0.5em;
}

.toc-item:before {
  content: "" !important;
}

// 小屏幕
@media screen and (max-width: 1200px) {
  .toc {
    display: none;
  }
}
