<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>hello-world.md</string>
		</array>
		<array>
			<string>howto.md</string>
		</array>
		<array>
			<string>theme-my-theme.md</string>
		</array>
		<array>
			<string>关于markdown.md</string>
		</array>
		<array>
			<string>复习计算机网络.md</string>
		</array>
		<array>
			<string>对-Hello-world-的翻译.md</string>
		</array>
		<array>
			<string>开始使用sublime-text-3.md</string>
		</array>
		<array>
			<string>怎么使用github.md</string>
		</array>
		<array>
			<string>第二篇博文.md</string>
		</array>
		<array>
			<string>鸽的表.md</string>
		</array>
	</array>
</dict>
</plist>
